# FFSERVER CONFIGURATION FILE
# Should be placed in /etc/ffserver.conf
# To run ffserver: sudo ffserver -f /etc/ffserver.conf
# Stream input:     http://localhost:8090/feed1.ffm
# Stream output:    http://irc.teamschoolyd.org:8090/tsdtv.flv

Port 8090
BindAddress 0.0.0.0
MaxHTTPConnections 2000
MaxClients 1000
MaxBandwidth 10000
CustomLog -

<Stream stat.html>
    Format status
    ACL allow localhost
    ACL allow 192.168.0.0 192.168.255.255
</Stream>

<Feed feed1.ffm>
    File /tmp/feed1.ffm
    FileMaxSize 2G
    ACL allow 127.0.0.1
</Feed>

# most things commented out because they're being overridden
<Stream tsdtv.flv>
        Format flv
        Feed feed1.ffm

        #VideoCodec libx264
        #VideoFrameRate 20
        #VideoBitRate 1200
        #VideoBitRateRange 500-1700
        #VideoSize 720x576
        #VideoBufferSize 2560k
        #PixelFormat yuv420p
        #AVOptionVideo preset ultrafast
        #AVOptionVideo profile:v baseline
        #AVOptionVideo flags +global_header
        #AVOptionVideo qmin 10
        #AVOptionVideo qmax 51
        #AVOptionVideo me_range 16

        #AudioCodec aac
        #AudioBitRate 128k
        #AudioChannels 1
        #AudioSampleRate 22050
        #AVOptionAudio flags +global_header
</Stream>

