id=country
name=Country Summer
tags=country
schedule=0 15 10 1/1 * ? *
duration=120
intro=Yee haw! The hour's right, the sun's in the sky, and the cows are turning circles in the pasture! Grab a cold
sarsaparilla and head down to the watering hole with your favorite gal because it's time for Country Summer on
TSDFM, a full two hours of the biggest country hits from yesterday and today!